h2 {
	font-family: 'New Rocker', cursive;
	color: ;
}

h1 {
	font-family: 'New Rocker', cursive;
}

.jumbotron {
	width: 75%;
	margin-left: 12.5%;
	margin-top: 5%;
	color: red;
	text-shadow: 2px 2px #000000;
	padding: 1%;
	background-image: url("../images/punkcat1.jpg");
	
}
body {
	background-image: url("../images/show.jpg");

}